*{
    margin:0;
}
.header {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    color: white;
}

body {
    margin: 0;
}

.menu i {
    font-size: 30px;

    margin-left: 49px
}

.headerimg img {
    width: 140px;
    height: 24px;
}

.headerimg {

    margin-left: 615px;
}

.search {
    margin-left: 470px;
    display: flex;
    align-items: center;
}

.search i {
    margin-left: 25px;
    font-size: 30px;
}

.search span {
    margin-left: 25px;
    font-size: 34px;
}

.section1 {
    display: flex;

}

.left1 img {
    width: 1012px;
    height: 675px;
}

.right1 {
    margin-left: 37px;


}

.right1 h1 {
    font-size: 48px;
    margin-top: 200px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


}

.right1 p {
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif
}

.right1 button {
    background-color: black;
    width: 446px;
    height: 48px;
    color: white;
    font-size: 17px;
}

.picks {
    display: flex;
    margin-left: 200px;
    margin-top: 118px;
    padding-top: 50px;
}

.arrow {
    width: 23px;
    height: 83px;
    margin-top: 207px;
}

.arrow1 {
    width: 23px;
    height: 83px;
    margin-top: 207px;

}

.ourpicks {
    /* margin-left: 701px; */
    /* margin-top: 115px; */
    /* margin-top: 95px; */
    margin-left: 694px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 75px;
}

.ourpicks p {
    margin-top: 103px;
}

.picks {
    margin-left: 200px;
    margin-top: -21px;

}

.pickimage1 {
    margin-left: -16px;
    margin-right: 11px;
    width: 284px;
    text-align: center;
}

.pickimage1 img {
    height: 347px;
    width: 237px
}

.pickimage1 p {

    font-size: 15px;
    font-weight: bold;
}

.pickimage2 {
    margin-right: -13px;
    width: 284px;
}

.pickimage2 img {
    height: 347px;
    width: 237px;


}

.pickimage2 p {

    font-size: 15px;
    font-weight: bold;
}

.pickimage3 {
    margin-right: 36px;
    width: 237px;
}

.pickimage3 img {
    height: 347px;
    width: 237px;
}

.pickimage3 p {

    font-size: 15px;
    font-weight: bold;
}

.pickimage4 {
    width: 237px;

}

.pickimage4 img {
    height: 347px;
    width: 237px;
}

.pickimage3 p {

    font-size: 15px;
    font-weight: bold;
}

.pickimage1 button {
    width: 240px;
    height: 37px;
    background-color: black;
    color: aliceblue;
    margin-top: 25px;
    font-size: 15px;
}

.pickimage2 button {
    width: 240px;
    height: 37px;
    background-color: black;
    color: aliceblue;
    margin-top: 25px;
    font-size: 15px;
}

.pickimage3 button {
    width: 240px;
    height: 37px;
    background-color: black;
    color: aliceblue;
    margin-top: 25px;
    font-size: 15px;
}

.pickimage4 button {
    width: 240px;
    height: 37px;
    background-color: black;
    color: aliceblue;
    margin-top: 25px;
    font-size: 15px;
}

.bar1 {
    background-color: black;
    height: 6px;
    width: 24px;
    margin-top: 20px;
    margin-left: 747px;
    float: left;
    border-radius: 23%;
}


.bar2 {
    background-color: darkgrey;
    height: 6px;
    width: 24px;
    margin-top: 20px;
    margin-left: 779px;
    border-radius: 23%;
}

.concern {
    margin-left: 205px;
    margin-top: 104px;
}

.concern h1 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: black;

}

.findright {
    font-size: 17px;
}

.mainimage {
    margin-left: 205px;
}

.miniimage {
    display: flex;
    width: 100%;

}

.mimg1 img {
    width: 342px;
    height: 296px;
    margin-left: 260px;
    position: absolute;
    left: 1%;
    top: 293%;

}

.mimg1 button {
    position: absolute;
    text-align: center;
    font-size: 17px;
    left: 23%;
    top: 277%;
    border: none;
    width: 170px;
    height: 53px;
    background-color: white;
    color: black;

    /* top: 50%;
    left: 50%; */
}

.mimg2 img {
    width: 342px;
    height: 296px;
    margin-left: 14px;
    position: absolute;
    left: 41%;
    top: 293%;

}

.mimg2 button {
    position: absolute;
    text-align: center;
    font-size: 17px;
    left: 47%;
    top: 277%;
    border: none;
    width: 150px;
    height: 53px;
    background-color: white;
    color: black;

}

.mimg3 img {
    width: 342px;
    height: 296px;
    margin-left: 14px;
    position: absolute;
    left: 65%;
    top: 293%;
}

.mimg3 button {
    position: absolute;
    text-align: center;
    font-size: 17px;
    left: 70%;
    top: 277%;
    border: none;
    width: 160px;
    height: 53px;
    background-color: white;
    color: black;
}


/* .miniimage button{
    /* width: 152px;
    height: 43px;
    background-color: white;
    color: black; */
/* border: none; */
.values {
    margin-top: 200px;
}

.valuep {
    margin-left: 744px;
    padding-top: 130px;
    font-size: 17px;
    font-weight: bold;

}

.trans {
    display: flex;
    margin-top: 80px;
}

.trans1 {
    margin-left: 200px;
}

.trans1 img {
    width: 40px;
    height: 40px;
}

.trans1 h1 {
    font-size: 18px;
}

.trans1 p {
    font-size: 17px;
    color: rgb(112, 112, 112);
    line-height: 24px;
}

.effic {
    margin-left: 62px;
}

.effic img {
    width: 40px;
    height: 40px;
}

.effic h1 {
    font-size: 18px;
}

.effic p {
    font-size: 17px;
    color: rgb(112, 112, 112);
    line-height: 24px;
}

.afford {
    margin-left: 62px;
}

.afford img {
    width: 40px;
    height: 40px;
}

.afford h1 {
    font-size: 18px;
}

.afford p {
    font-size: 17px;
    color: rgb(112, 112, 112);
    line-height: 24px;
}

.review {
    background-color: #eeeeee;
    height: 405px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;


}

/* .shreya p{
    background-color: white;
    font-size: 15px;
    width: 280px;
    height: 120px;
    text-align: center;
    padding-top: 40px;
    margin-left: 50px;
    margin-top: 50px;

}
.shreya h{
    font-size: 10px;
} */
.shreya {
    background-color: white;
    margin-left: 200px;
    align-items: center;
    height: 230px;
    width: 360px;
    margin-top: 1px;
    text-align: center;
}

.shreya p {
    font-size: 16px;
    margin-top: 46px;
}

.shreya h1 {
    font-size: 17px;
}

.sujata {
    background-color: white;
    margin-left: 25px;
    align-items: center;
    height: 230px;
    width: 360px;
    margin-top: 1px;
    text-align: center;
}

.sujata p {
    font-size: 16px;
    margin-top: 46px;
}

.sujata h1 {
    font-size: 17px;
}

.varshini {
    background-color: white;
    margin-left: 25px;
    align-items: center;
    height: 230px;
    width: 360px;
    margin-top: 1px;
    text-align: center;
}

.varshini p {
    font-size: 16px;
    margin-top: 46px;
}

.varshini h1 {
    font-size: 17px;
}

.footer {

    background-color: black;
    width: 100%;
    height: 560px;
    margin-top: -95px;
}

.abouthelp {
    background-color: black;
    display: flex;
    margin-top: 96px;
    width: 85%;
    height: 350px;
    margin-left: 111px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

/* .abouthelp{
    display: flex;
    background-color: coral;
    height: 440px;
    margin-top: 20px; 
}*/
.about {
    color: white;
    height: 220px;
    width: 190px;
    background-color: black;
    margin-left: 40px;
    margin-top: 100px;
}

.about h2:hover {
    text-decoration: underline;
}

.about h1 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.about h2 {
    font-size: 16px;
    padding-top: 8px;
    line-height: 5.01px;
    font-family: Arial, Helvetica, sans-serif;

}

.help {
    color: white;
    height: 220px;
    width: 190px;
    background-color: black;
    margin-left: 50px;
    margin-top: 100px;
}

.help h2:hover {
    text-decoration: underline;
}

.help h1 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.help h2 {
    font-size: 16px;
    padding-top: 8px;
    line-height: 5.01px;
    font-family: Arial, Helvetica, sans-serif;
}

.facebook {
    display: flex;
}

.fb i {
    margin-left: 112px;
    font-size: 20px;
    margin-top: 30px;
    background-color: white;
}

.inst i {
    background-color: darkgrey;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 30px;

}

.footer p {
    color: darkgrey;
    margin-left: 109px;
    line-height: 1;
}